.liquid-glass {
  --glass-color: 255, 255, 255;

  position: relative;
  box-shadow: 0 6px 24px rgb(0 0 0 / 20%);
}

.liquid-glass:focus {
  outline: none;
}

.liquid-glass::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: inherit;
  box-shadow: inset 0 0 13px -2px rgb(var(--glass-color));
  background-color: rgb(var(--glass-color), 0.17);
}

.liquid-glass::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  backdrop-filter: blur(2px);
  filter: url("#glass-distortion");
  will-change: backdrop-filter;
}

.liquid-glass2 {
  --glass-color: 255, 255, 255;

  position: relative;

  // isolation: isolate;
  box-shadow: 0 6px 24px rgb(0 0 0 / 20%);
  backdrop-filter: blur(6px);
}

.liquid-glass2:focus {
  outline: none;
}

.liquid-glass2::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  box-shadow: inset 0 0 13px -2px rgb(var(--glass-color));
  background-color: rgb(var(--glass-color), 0.17);
}

@media (prefers-reduced-motion: reduce) {
  .liquid-glass {
    &::after {
      filter: none;
    }
  }
}

.gradient-text {
  --color1: var(--primary-color);
  --color2: var(--secondary-color);

  place-self: center;
  background: linear-gradient(90deg, var(--color1), var(--color2), var(--color1)) -100% / 200%;
  background-clip: text;
  color: transparent;
  animation: shimmer 2s linear infinite
}

@keyframes shimmer {
  from {
    background-position: 100%
  }
}